<link rel="stylesheet" href="/css/home.css">

<div id="home-container">
  <!-- Container for 'post-feeds' on home page -->
  <div id="feed-posts">
    <h4>Posts</h4>

    <!-- Showing 'new-post-form' only when the user is signed in(successfully authenticated) -->
    <% if(locals.user){ %>
      <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="10" placeholder="Type Here..." required></textarea>
        <br>
        <input type="submit" value="Post">
    </form>
    <% } %>

    <!-- Displaying all the posts with their content and user's name -->
    <div id="posts-list-container">
      <ul>
          <% for(post of posts){ %>
              
          <%- include('_post') -%>
              
          <%} %>
      </ul>
  </div>
  </div>
  
  <!-- Container for displaying user's friend -->
  <div id="user-friends">
    <h4>Friends</h4>
    <% for(u of all_users){%>
        <p>
            <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
        </p>
    <% } %>
  </div>
</div>

<!-- importing this script for creating the comments -->
<script src="/js/home_post_comments.js" ></script>
<script src="/js/home_posts.js"></script>
