footer {
  background-image: linear-gradient(to left bottom, #3e5735, #35573a, #2c5640, #245546, #1c544b, #1a554a, #195649, #185747, #25593c, #365b30, #475b23, #5a5a17);
  width: 100%;
  height: 8vh;
  margin: auto;
  padding: auto;
  text-align: center; }
