@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lobster&family=Pacifico&family=Trispace:wght@800&display=swap");
* {
  margin: 0;
  padding: 0; }

header {
  height: auto;
  min-height: 8vh;
  width: 100%;
  background-image: linear-gradient(to right top, #dd0529, #d70041, #cd0055, #bd0067, #a90076, #9e007f, #900088, #7e0191, #75009a, #6900a3, #5a07ad, #4210b7);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 1%;
  padding-right: 1%; }
  header .title-container {
    height: auto;
    max-height: 60px;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    header .title-container .socialVerse-logo {
      height: 100%;
      width: auto; }
      header .title-container .socialVerse-logo #logo-image {
        height: 45px;
        width: 45px;
        border: 2px solid white;
        border-radius: 50%;
        margin: 5px;
        animation-name: rotating;
        animation-timing-function: ease-in-out;
        animation-duration: 2s;
        animation-iteration-count: infinite; }
      header .title-container .socialVerse-logo #logo-image:hover {
        box-shadow: 5px grey; }

@keyframes rotating {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
    header .title-container .socialVerse-title {
      height: 90%;
      width: auto;
      color: white;
      font-weight: 7500;
      font-size: 2.6rem;
      font-family: 'Pacifico', cursive;
      font-style: italic;
      padding: 10px; }
      header .title-container .socialVerse-title p:hover {
        color: lightgrey;
        font-size: 2.7rem; }
  header .user-options {
    height: auto;
    max-height: 60px;
    width: auto;
    min-width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 1%;
    padding-right: 1%; }
    header .user-options #user-details {
      height: auto;
      width: auto;
      min-width: 250px;
      display: flex;
      justify-content: center;
      align-items: center; }
      header .user-options #user-details #user-image {
        height: auto;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center; }
        header .user-options #user-details #user-image img {
          height: 40px;
          width: 40px;
          border: 3px solid white;
          border-radius: 50%;
          transition: transform;
          transition-duration: 0.2s; }
        header .user-options #user-details #user-image img:hover {
          box-shadow: 8px grey;
          transform: scale(1.1); }
      header .user-options #user-details #space-div {
        width: 5%;
        height: 100%; }
      header .user-options #user-details #user-name {
        height: auto;
        width: auto;
        color: white;
        text-decoration: none;
        font-weight: 1500;
        font-size: 1.7rem;
        font-family: 'Lobster', cursive;
        padding: auto; }
        header .user-options #user-details #user-name p a {
          color: lightgrey;
          text-decoration: none; }
        header .user-options #user-details #user-name p a:hover {
          font-size: 1.8rem;
          cursor: pointer; }
    header .user-options .header-link {
      height: auto;
      width: auto;
      font-weight: 800;
      font-size: 1.4rem;
      font-family: 'EB Garamond', serif;
      padding: auto; }
      header .user-options .header-link a {
        color: white;
        text-decoration: none; }
      header .user-options .header-link a:hover {
        color: lightgrey;
        font-size: 1.55rem;
        text-decoration: underline;
        cursor: pointer; }
