* {
  margin: 0;
  padding: 0; }

main {
  height: 92vh;
  width: 100%;
  background-image: linear-gradient(to left bottom, #41deec, #12dfe0, #00dfcf, #00debb, #20dda3, #42dc92, #5ada80, #6fd86e, #83d662, #95d356, #a5d04c, #b5cd43);
  margin: auto; }
